<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <script src="/scripts/angular.js"></script>
  <script type="text/javascript" src="todo.js"></script>
  <link rel="stylesheet" href="todo.css">
</head>
<body>
  <h1>Wellcome to AngularJS todo list</h1>
  <div ng-controller="TodoListController" class="container">
    <div class="counter">
        <span> {{count()}} Activities  completed of {{getTotal()}}</span>
    </div>
    <div class="middle">
      <span ng-if="todos.length === 0">
          Your todo's list is empty
        </span>
        <ul class="unstyled" >
          <li ng-repeat="todo in todos" ng-if="!todo.archived">
            <label class="checkbox">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{{todo.done}}">{{todo.name}}</span>
            </label>
            <button class="removeButton borderRadiusButton" type="button" ng-click="remove(todo)">Remove</button>
            <button class="borderRadiusButton" type="button" ng-click="archive(todo)">Archive</button>
          </li>
        </ul>
        <form ng-submit="add">
            <input class="input" type="text" ng-model="todoText" size="30"
            placeholder="add new todo here">
            <button class="addButton borderRadiusButton" type="button" ng-click="add()"> Add </button>
        </form>
      <br>
      <h2>Archived Activities</h2>
      <ul class="unstyled" >
        <li ng-repeat="archive in todos">
          <label class="checkbox" ng-if="archive.archived">
            <span class="done-{{archive.done}}">{{archive.name}}</span>
          </label>
          <button  class ="borderRadiusButton" ng-if="archive.archived" type="button" ng-click="unarchive(archive)">Unarchive</button>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>